.signup-container{
    display: flex;
    height: 98vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.signup-title{
    align-text: center;
    margin: auto 0 5% 0;
}
.form-container{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 0 0 auto 0;
}

.username{
    align-self: center;
    padding: 5%;
    margin: auto 0 10% 0;
}

.password{
    align-self: center;
    padding: 5%;
    margin: auto 0 10% 0;
}